body {
    display: flex;
    flex-direction: column;
}

.header,
.header-menu,
.images-two,
.section-four,
.section-one-body {
    display: flex;
}

.header {
    justify-content: space-between;
    margin: 5px 50px;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}